[user]
	email = 51823781+taariqnazar@users.noreply.github.com
	name = taariqnazar
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
