snippet erfc "default exportable functional component" b
export default function ${1:functionName}($2){
	return(
		${3:<View></View>}
	)
}
endsnippet

snippet rfc "functional component" b
function ${1:functionName}($2){
	return(
		${3:<View></View>}
	)
}
endsnippet
